$menuDrawerWidth: 225px;
$headerDrawerWidth: 360px;
$green: #27A678;
$headerColor: #E4E4E4;

.mainDiv{
  min-height: 100%;
}

.mainDivShiftLeft{
  margin-left: $menuDrawerWidth;
}

.mainDivShiftRight{
  margin-right: $headerDrawerWidth;
}

.searchMenu{
  height: 80px;
  border-bottom: $headerColor 4px solid;
  display: flex;
  flex-direction: row;
}

.searchResults{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.eventsDiv{
  min-height: 100%;
}

.menuIconDiv{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.menuIconButton{
  margin-left: 25px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: none;
  background: transparent;
}

.rightIconsDiv{
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}
.rightIconButton{
  margin-right: 25px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: none;
  background-color: $headerColor;
  &:hover{
    background-color: white;
  }
}
.rightIconButtonSelected{
  @extend .rightIconButton;
  background-color: white;
}

.rightIcon{
  height: 24px;
  width: 24px;
}
.rightIconGreen{
  @extend .rightIcon;
  filter: brightness(0) saturate(100%) invert(51%) sepia(46%) saturate(594%) hue-rotate(107deg) brightness(96%) contrast(93%);
}

.menuDrawer{
  background-color: #13161F;
  width: $menuDrawerWidth;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerDrawer{
  margin-top: 80px;

}

.headerDrawerRoot{
}

.headerDrawerDiv{
  height: 100%;
  width: $headerDrawerWidth;
  border-left: $headerColor 4px solid;
}

.logoImage{
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchBarDiv{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.filtersButton{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  margin-right: 25px;
  &:hover{
    background-color: $headerColor;
  }
}

.searchBar{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: lightgray 1px solid;
  text-indent: 10%;
}

.addEventDiv{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  width: 100%;
}

.addEventButton{
  background-color: $green;
  border-radius: 2px;
  height: 48px;
  width: 48px;
  border: none;
  margin-right: 25px;
}

.menuButton{
  background: transparent;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border: none;
  height: 60px;
  margin: 10px 0 10px 0;
}

.menuButtonSelected{
  @extend .menuButton;
  color: white;
}

.menuIcon{
  margin-left: 20px;
  width: 24px;
  height: 24px;
}
.menuIconYellow{
  @extend .menuIcon;
  filter: brightness(0) saturate(100%) invert(65%) sepia(93%) saturate(361%) hue-rotate(11deg) brightness(108%) contrast(81%);

}

.menuOpenIcon{
  margin-left: 20px;
}

.menuText{
  font-weight: bolder;
  margin-left: 20px;
}

.logoutDiv{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.logoutButton{
  @extend .menuButton;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover{
    color: white;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(210deg) brightness(102%) contrast(102%);
  }

}
.logoutText{
  margin-left: 20px;
  font-weight: bolder;
  font-size: 12pt;
}